
.to-do-list {
  width: 400px;
  margin: auto;
  text-align: center;
}

li {
  padding: 20px;
  border-bottom: 5px solid white;
  text-align: left;
  list-style-type: none;
}

header {
  border-bottom: 2px solid white;
  text-align: center;
  padding: 40px;
  font-family: 'Rock Salt', cursive;
  color: white;
  background-color: #0a9468;
}

section {
  border-top: 10px solid white;
}


.done {
  background-image: url(marker_underline.gif);
  background-repeat: no-repeat;
  background-color: transparent;
  }
